<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Sound</title>
</head>
<body>
    <h1>Try not to touch the animals</h1>
    <button><a href="/dog">Dog</a></button><br><br>
    <button><a href="/cat">Cat</a></button><br><br>
    <button><a href="/lion">Lion</a></button><br><br>
    <button><a href="/cow">Cow</a></button><br><br>
    <button><a href="/goat">Goat</a></button>
</body>
</html>